* {
    margin: 0;
    padding: 0;
}

div.bloco {
    height: 100px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    background-image: url(IMG/wallpaper003.jpg);
}

#q1 {
    background-position: left top;
}
#q2 {
    background-position: left center;
}
#q3 {
    background-position: right bottom;
}
#q4 {
    background-position: center center;
}